<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Post a new algorithm topic</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/algorithms" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="algorithm[title]" placeholder="title">
                </div>
                <div class="form-group">
                    <select class="form-control" name="algorithm[tag]"> 
                        <option value="Array">Array</option> ,
                        <option value="Linked-List">Linked-List</option> ,
                        <option value="String">String</option> ,
                        <option value="Hash-Table">Hash-Table</option> ,
                        <option value="Math">Math</option> ,
                        <option value="Two-Pointers">Two-Pointers</option> ,
                        <option value="Dynamic-Programming">Dynamic-Programming</option> ,
                        <option value="Backtracking">Backtracking</option> ,
                        <option value="Stack">Stack</option> ,
                        <option value="Heap">Heap</option> ,
                        <option value="Greedy">Greedy</option> ,
                        <option value="Sort">Sort</option> ,
                        <option value="Bit-Manipulation">Bit-Manipulation</option> ,
                        <option value="Tree">Tree</option> ,
                        <option value="Search">Search</option> ,
                        <option value="Union-Find">Union-Find</option> ,
                        <option value="Graph">Graph</option> ,
                        <option value="Recursion">Recursion</option> ,
                        <option value="Queue">Queue</option> ,
                        <option value="Minimax">Minimax</option> ,
                        <option value="Map">Map</option> ,
                        <option value="Geometry">Geometry</option> 
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="algorithm[image]" placeholder="image url">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" name="algorithm[problem]" placeholder="problem"></textarea>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" name="algorithm[solution]" placeholder="solution"></textarea>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" name="algorithm[conclusion]" placeholder="conclusion"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/algorithms">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>