<% include ./partials/header.ejs %>

<h1>This is the profile page of <%= currentUser.username %> </h1>
<h4>THis is your avatar!</h4>
<img src="<%= currentUser.avatar %>">

<% include ./partials/footer.ejs %>