body{
    padding-top:70px;
}

.navbar-brand{
    font-size:1.5em;
}

.picture {
    width: 100%;
    height: 0;
    padding-bottom:100%;
}


.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.jbt-picture{
    background: url(https://i.imgur.com/DmRgNSL.jpg);
    background-position: center center;
    background-size: cover;
}

.container h2, .jumbotron h1, .jumbotron h4{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
            color:white;
}


.user-form {
    margin: 10% auto;
}

hr.overview-hr{
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.overview-hr:before{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}




