body{
    padding-top:70px;
}

.navbar-brand{
    font-size:1.5em;
}

.avatar-picture-show {
    width: 80%;
    height: 0;
    padding-bottom:80%;
}

.picture {
    width: 100%;
    height: 0;
    padding:0;
    padding-bottom:100%;
}

.avatar-profile{
    width:100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail img{
    width:100%;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.jbt-picture{
    background: url(https://i.imgur.com/DmRgNSL.jpg);
    background-position: center center;
    background-size: cover;
}

.jumbotron h1, .jumbotron h4{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
            0px 18px 23px rgba(0,0,0,0.1);
            color:white;
}


.user-form {
    margin: 10% auto;
}


hr.overview-hr { 
  padding: 0;
  border: none; 
  border-top: medium double #8c8c8c; 
  color: #8c8c8c; 
  text-align: center; 
} 
hr.overview-hr:after { 
  content: "§"; 
  display: inline-block; 
  position: relative; 
  top: -0.7em; 
  font-size: 1.5em; 
  padding: 0 0.25em; 
  background: #fff; 
}







