body{
    padding-top:50px;
}

.jumbotron{
    padding:180px 0;
    background: url(https://i.imgur.com/5Zk1N5P.jpg);
    background-position: center center;
    background-size: cover;
}

.blog-box{
    border: 3px solid black;
}